# Topic modeling cleaning
## cleaning

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('movie_data_total.csv')
data = pd.read_csv('full_raw_data.csv')

In [3]:
data

,Unnamed: 0,cast,info_json,movie_id,movie_name,summary_wiki
0,0,"[{'nm0000209': [' Tim Robbins']}, {'nm0327779'...","{'Title': 'War of the Worlds', 'Year': '2005',...",War of the Worlds,War of the Worlds,"[""Divorced longshoreman Ray Ferrier works at a..."
1,1,"[{'nm0914612': [' Emma Watson']}, {'nm0341743'...",{'Title': 'Harry Potter and the Deathly Hallow...,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,"[""The Minister of Magic Rufus Scrimgeour addre..."
2,2,"[{'nm0043173': [' Rick Aviles']}, {'nm0534398'...","{'Title': 'The Stand', 'Year': '1994', 'Rated'...",The Stand,The Stand,"['On June 13, at a top-secret government labor..."
3,3,"[{'nm0000295': [' Kate Beckinsale']}, {'nm0640...","{'Title': 'Van Helsing', 'Year': '2004', 'Rate...",Van Helsing,Van Helsing,['Monster hunter Gabriel Van Helsing and friar...
4,4,"[{'nm0257920': [' William Russell']}, {'nm0183...","{'Title': 'Doctor Who', 'Year': '1963–1989', '...",Doctor Who,Doctor Who,['NoText']
...,...,...,...,...,...,...
5958,1836,"[{'nm0662116': [' Cecil Parker']}, {'nm0665327...","{'Title': 'The Court Jester', 'Year': '1955', ...",The Court Jester,The Court Jester,"Set in medieval England, the plot concerns the..."
5959,1839,"[{'nm1869008': [' Anya Engel-Adams']}, {'nm000...","{'Title': 'Chi-Raq', 'Year': '2015', 'Rated': ...",Chi-Raq,Chi-Raq,"In Chicago's Southside, as the events are narr..."
5960,1840,"[{'nm0082848': [' Bindu']}, {'nm2061852': [' A...","{'Title': 'Om Shanti Om', 'Year': '2007', 'Rat...",Om Shanti Om,Om Shanti Om,"In 1977 , Om Prakash Makhija, a junior artist ..."
5961,1841,"[{'nm0772704': [' Kyle Schmid']}, {'nm1169619'...","{'Title': 'The Cheetah Girls', 'Year': '2003',...",The Cheetah Girls,The Cheetah Girls,"Four teen girls in Manhattan—Galleria, Chanel,..."
5962,1843,"[{'nm0443020': [' Christian Kay']}, {'nm001244...","{'Title': 'Blue Hawaii', 'Year': '1961', 'Rate...",Blue Hawaii,Blue Hawaii,Chadwick Gates (Elvis Presley) has just gotten...

In [4]:
data = data[data.summary_wiki!="['NoText']"]

In [5]:
data = data.drop(data[data.summary_wiki == "NoSearch"].index)

In [6]:
data

,Unnamed: 0,cast,info_json,movie_id,movie_name,summary_wiki
0,0,"[{'nm0000209': [' Tim Robbins']}, {'nm0327779'...","{'Title': 'War of the Worlds', 'Year': '2005',...",War of the Worlds,War of the Worlds,"[""Divorced longshoreman Ray Ferrier works at a..."
1,1,"[{'nm0914612': [' Emma Watson']}, {'nm0341743'...",{'Title': 'Harry Potter and the Deathly Hallow...,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,"[""The Minister of Magic Rufus Scrimgeour addre..."
2,2,"[{'nm0043173': [' Rick Aviles']}, {'nm0534398'...","{'Title': 'The Stand', 'Year': '1994', 'Rated'...",The Stand,The Stand,"['On June 13, at a top-secret government labor..."
3,3,"[{'nm0000295': [' Kate Beckinsale']}, {'nm0640...","{'Title': 'Van Helsing', 'Year': '2004', 'Rate...",Van Helsing,Van Helsing,['Monster hunter Gabriel Van Helsing and friar...
5,5,"[{'nm0000349': [' Joan Cusack']}, {'nm0000885'...","{'Title': 'Toy Story 3', 'Year': '2010', 'Rate...",Toy Story 3,Toy Story 3,['Andy is preparing to leave for college. He h...
...,...,...,...,...,...,...
5958,1836,"[{'nm0662116': [' Cecil Parker']}, {'nm0665327...","{'Title': 'The Court Jester', 'Year': '1955', ...",The Court Jester,The Court Jester,"Set in medieval England, the plot concerns the..."
5959,1839,"[{'nm1869008': [' Anya Engel-Adams']}, {'nm000...","{'Title': 'Chi-Raq', 'Year': '2015', 'Rated': ...",Chi-Raq,Chi-Raq,"In Chicago's Southside, as the events are narr..."
5960,1840,"[{'nm0082848': [' Bindu']}, {'nm2061852': [' A...","{'Title': 'Om Shanti Om', 'Year': '2007', 'Rat...",Om Shanti Om,Om Shanti Om,"In 1977 , Om Prakash Makhija, a junior artist ..."
5961,1841,"[{'nm0772704': [' Kyle Schmid']}, {'nm1169619'...","{'Title': 'The Cheetah Girls', 'Year': '2003',...",The Cheetah Girls,The Cheetah Girls,"Four teen girls in Manhattan—Galleria, Chanel,..."
5962,1843,"[{'nm0443020': [' Christian Kay']}, {'nm001244...","{'Title': 'Blue Hawaii', 'Year': '1961', 'Rate...",Blue Hawaii,Blue Hawaii,Chadwick Gates (Elvis Presley) has just gotten...

In [7]:
# parsing the input into data structures
columns = ['summary_wiki', 'cast', 'info_json']
def text_parser(text):
    result = []
    try:
        r = eval(text)
        result = r
    except:
        result = [text]
    return result

for c in columns:
    data[c] = [text_parser(x) for x in data[c]]

In [8]:
#data = data.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

def parse_summary(summary):
    if len(summary)==1:
        return str(summary[0])
    else:
        return ' '.join([str(s) for s in summary])
data['summary_wiki'] = data['summary_wiki'].apply(parse_summary)

In [9]:
data.to_csv('full_raw_data_cleaned_movie_data.csv')

In [10]:
data

,Unnamed: 0,cast,info_json,movie_id,movie_name,summary_wiki
0,0,"[{'nm0000209': [' Tim Robbins']}, {'nm0327779'...","{'Title': 'War of the Worlds', 'Year': '2005',...",War of the Worlds,War of the Worlds,Divorced longshoreman Ray Ferrier works at a d...
1,1,"[{'nm0914612': [' Emma Watson']}, {'nm0341743'...",{'Title': 'Harry Potter and the Deathly Hallow...,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,The Minister of Magic Rufus Scrimgeour address...
2,2,"[{'nm0043173': [' Rick Aviles']}, {'nm0534398'...","{'Title': 'The Stand', 'Year': '1994', 'Rated'...",The Stand,The Stand,"On June 13, at a top-secret government laborat..."
3,3,"[{'nm0000295': [' Kate Beckinsale']}, {'nm0640...","{'Title': 'Van Helsing', 'Year': '2004', 'Rate...",Van Helsing,Van Helsing,Monster hunter Gabriel Van Helsing and friar C...
5,5,"[{'nm0000349': [' Joan Cusack']}, {'nm0000885'...","{'Title': 'Toy Story 3', 'Year': '2010', 'Rate...",Toy Story 3,Toy Story 3,Andy is preparing to leave for college. He has...
...,...,...,...,...,...,...
5958,1836,"[{'nm0662116': [' Cecil Parker']}, {'nm0665327...","{'Title': 'The Court Jester', 'Year': '1955', ...",The Court Jester,The Court Jester,"Set in medieval England, the plot concerns the..."
5959,1839,"[{'nm1869008': [' Anya Engel-Adams']}, {'nm000...","{'Title': 'Chi-Raq', 'Year': '2015', 'Rated': ...",Chi-Raq,Chi-Raq,"In Chicago's Southside, as the events are narr..."
5960,1840,"[{'nm0082848': [' Bindu']}, {'nm2061852': [' A...","{'Title': 'Om Shanti Om', 'Year': '2007', 'Rat...",Om Shanti Om,Om Shanti Om,"In 1977 , Om Prakash Makhija, a junior artist ..."
5961,1841,"[{'nm0772704': [' Kyle Schmid']}, {'nm1169619'...","{'Title': 'The Cheetah Girls', 'Year': '2003',...",The Cheetah Girls,The Cheetah Girls,"Four teen girls in Manhattan—Galleria, Chanel,..."
5962,1843,"[{'nm0443020': [' Christian Kay']}, {'nm001244...","{'Title': 'Blue Hawaii', 'Year': '1961', 'Rate...",Blue Hawaii,Blue Hawaii,Chadwick Gates (Elvis Presley) has just gotten...